.roadmap{
    padding: 7% 7% 15%;
    color: #961581;
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(255, 255, 255, 0.99) 17.71%);
}

.roadmap h3{
    font-size: 2rem;
    margin-bottom: 5rem;
}

.roadmap h3::after{
    content: "";
    display: block;
    padding-top: 20px;
    width: 8%;
    border-bottom: 5px solid #FF9900;
}

.roadmap-content{
    display: flex;
    gap: 2rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    height: 25rem;
}

.roadmap-content .quarter-div{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 0.45rem;
}

.roadmap-ellipse-one{
    position: absolute;
    width: 17rem;
    top: -15%;
}

.roadmap-ellipse-two{
    position: absolute;
    width: 15.5rem;
    bottom: -35%;
}

.smallcircle{
    position: absolute;
    left: -17%;
    top: 30%;
}

.smallcircle-one{
    position: absolute;
    right: -13%;
    bottom: 7%;
}

.smallcircle-two{
    position: absolute;
    right: -17%;
    top: 30%;
    z-index: 2
}


/* .roadmap-content>div:nth-child(1) .quarter-div::before{
    content: "";
    border-right: none;
    border-bottom: none;
    position: absolute;
    background: red;
    width: 16rem;
    height: 7rem;
    bottom: 30%;
    left: 1%;
    z-index: 1;
}

.roadmap-content>div:nth-child(1) .quarter-div::after{
    content: "";
    border: 5px solid #961581;
    border-right: none;
    border-bottom: none;
    border-radius: 50%;
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    top: -5%;
    left: 6%;
    transform: rotate(45deg);
    z-index: 0;
} */

.roadmap-content .quarter{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    padding: 4rem 0.5rem;
}

.roadmap-content-div .quarter p{
    font-size: 1.2rem;
    font-weight: bold;
}

.odd{
    background: #961581;
    color: #fff;
}

.even{
    background: #FFD601;
    color: #961581;
    
}

/* .first-roadmap-div{
    position: absolute;
    bottom: -15%;
    left: 1%;
}

.second-roadmap-div{
    position: absolute;
    left: 20%;
}

.third-roadmap-div{
    position: absolute;
    bottom: -15%;
}

.last-roadmap-div{
    position: absolute;
    
} */

.roadmap-content-div{
    width: 14rem;
    height: 17rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.roadmap-content>div:nth-child(odd){
    bottom: -36%;
}

.roadmap-content-div .quarter-p{
    font-size: 1.2rem;
    font-weight: 700;
    min-height: 8rem;
}

.roadmap-content>div:nth-child(2) .quarter-p{
    display: flex;
    align-items: flex-end;
    max-width: 5rem;
    justify-content: center;
}

/******************************************* Responsive Styling ***********************************************/
@media screen and (max-width: 767px) {
    .roadmap{
        padding: 15% 4% 5%;
        width: 100%;
    }

    .roadmap h3{
        font-size: 1.8rem;
    }

    .roadmap h3::after{
        width: 20%;
    }

    .roadmap-content{
        height: 100rem;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .roadmap-content-div{
        margin-bottom: 2rem;
    }

    .roadmap-content>div:nth-child(2){
        margin-bottom: 10rem;
    }

    .roadmap-content>div:nth-child(odd){
        bottom: 1%;
    }

    .roadmap-content-div .quarter-p{
        font-size: 1rem;
        min-height: 5rem;
    }

    .roadmap-ellipse-two{
        position: absolute;
        width: 15.5rem;
        bottom: -20%;
    }

    .smallcircle-one{
        bottom: 15%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .roadmap{
        width: 100%;
    }

    .roadmap-content{
        height: 70rem;
    }

    .roadmap-content>div:nth-child(odd){
        bottom: -13%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .roadmap-content{
        flex-wrap: wrap;
        height: 70rem;
    }

    .roadmap-content>div:nth-child(odd){
        bottom: -13%;
    }
}