.footer{
    padding: 5% 15%;
    text-align: center;
    margin-top: 2rem;
    color: #961581;
    background: #fff;
}

.footer h5{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #961581;
}

.footer .footer-links-div{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.footer img{
    width:30px;
    height: 30px;
}

.footer-links{
    cursor: pointer;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.footer-content div{
    text-align: left;
}

.footer-content div h6{
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-content div a{
    text-decoration: none;
    color: #961581;
}


.farms-and-pools-footer{
    text-align: center;
    padding: 5%;
    background: url("/src/assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.farms-and-pools-footer div ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.farms-and-pools-footer div ul>li{
    list-style-type: none;
}

.farms-and-pools-footer div ul li>a{
    text-decoration: none;
    color: #FBE200;
}




/******************************************* Responsive Styling ***********************************************/
@media screen and (max-width: 767px) {
    .footer{
        padding: 5% 4%;
    }

    .footer-content{
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer{
        padding: 5% 7%;
    }
}