button{
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
}

.nav-btn{
    font-size: 1.5rem;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 30px;
    background: linear-gradient(138.65deg, #310E47 -3.35%, #961581 97.84%);
    border: 1px solid #FFFFFF;
}

.presale-btn{
    width: 23rem;
    height: 4rem;
    background: linear-gradient(262.89deg, rgba(255, 153, 0, 0.33) -39.3%, #FF9900 77.41%);
    border: 1px solid #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}

.learnMore-btn{
    background: linear-gradient(260.51deg, #FF9900 27.74%, rgba(255, 153, 0, 0.33) 113.25%);
    border: 1px solid #FFFFFF;
    width: 23rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
}

.learnMore-btn-2{
    background: linear-gradient(262.4deg, #FF017B -32.19%, #FF9900 107.24%);
    border: 1px solid #FFFFFF;
    width: 23rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
}

.cardBtn{
    width: 80%;
    height: 2.5rem;
    color:#fff;
    background: linear-gradient(262.4deg, #FF01B8 -32.19%, #9B5A8D 107.24%); 
    border-radius: 23px;
    border: none;
    font-size: 1.2rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.walletAddressBtn{
    width: 10rem;
    height: 2.5rem;
    background: #FFD601;
    color: #4B0057;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 15px;
    border: none;
}
/* 
@media screen and (min-width: 768px) {
.timeBasedButton, .timelessButton{
    width: 100%;
    height: 2.5rem;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 50px;
}
}

@media screen and (max-width: 767px) {
    .timeBasedButton, .timelessButton{
        width: 100%;
        height: 100%;
        color: #fff;
        border-radius: 20px;
        border: none;
        font-size: 0.9rem;
        font-weight: 600;
    }
}

@media screen and (min-width: 768px) {
.stakeMoreButton{
    width: 8rem;
    background:#6CBA74;
    height: 2.5rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}
}

@media screen and (max-width: 767px) {
    .stakeMoreButton{
        width: 120%;
        background:#6CBA74;
        height: 100%;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 20px;
        border: none;
    }
} */

.stakeNowButton{
    width: 8rem;
    height: 2.5rem;
    color: #fff;
    background: #6CBA74;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.stakeButton{
    width: 14rem;
    height: 3rem;
    color: #fff;
    background: #6CBA74;
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}

.withdrawButton{
    width: 8rem;
    height: 2.5rem;
    color: #fff;
    background: #2F2036;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.withdrawButtonOne{
    width: 12rem;
    height: 3rem;
    color: #fff;
    background: #2F2036;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 600;
}

.harvestButton{
    width: 8rem;
    height: 2.8rem;
    color: #fff;
    background: #4B0057;
    border: none;
    border-radius: 18px;
    font-size: 0.9rem;
    font-weight: 600;
}

.harvestButtonOne{
    width: 12rem;
    height: 3rem;
    color: #fff;
    background: #4B0057;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 600;
}

.timeBasedButton{
    background: #C2A717;
}

.timelessButton{
    background: #FFD601;
}

/* @media screen and (min-width: 768px) {
    .withdraw-btn{
        background: #6CBA74;
        color: #fff;
        width: 9rem;
        height: 2.8rem;
        border-radius: 15px;
        border: none;
        font-weight: 600;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 767px) {
    .withdraw-btn{
        background: #6CBA74;
        color: #fff;
        width: 120%;
        height: 100%;
        border-radius: 15px;
        border: none;
        font-weight: 600;
        font-size: 1.1rem;
    }
} */
.connect-btn{
    background: #FFD601;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.farms-connect-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 9rem;
    height: 2.8rem;
    color: #4B0057;
    background: #FFD601;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 20px;
}

.farms-connect-btn .connect-img{
    width: 20%;
}

@media screen and (max-width: 400px) {
    .withdrawButtonOne, .harvestButtonOne{
        width: 7rem;
    }

    .stakeButton{
        width: 10rem;
    }
}


@media screen and (min-width: 401px) and (max-width: 767px) {
    .presale-btn, .learnMore-btn, .learnMore-btn-2{
        width: 17rem;
        font-size: 1.5rem;
    }

    .withdrawButtonOne, .harvestButtonOne{
        width: 8rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .presale-btn, .learnMore-btn, .learnMore-btn-2{
        width: 19rem;
        font-size: 1.8rem;
    }

    .withdrawButtonOne, .harvestButtonOne{
        width: 6rem;
    }

    .stakeButton{
        width: 7rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .withdrawButtonOne, .harvestButtonOne{
        width: 8rem;
    }

    .stakeButton{
        width: 10rem;
    }
}