header{
    padding: 1% 5%;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
}

.header{
    background: #fff;
}

.header-2{
    background: url('/src/assets/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-img{
    text-decoration: none;
    color: #fff;
}

.nav-logo img{
    width: 40%;
}

.nav-logo h3{
    font-size: 2rem;
    font-weight: 700;
    color: #3A0044;
}

.header-2 .nav-logo h3{
    color: #fff;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-inactive{
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff; 
    font-weight: 600;
}

.nav-links-active{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #FFD601; 
}

.header-2 .nav-links{
    color:#fff;
    font-size: 1.3rem;
}

.nav-links::after{
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 0;
    transition: 0.3s ease-in-out;
}

.nav-links:hover::after{
    width: 75%;
}

.nav-links-div{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-links-div ul li{
    list-style-type: none;
    margin-left: 2rem;
}

.connect-div{
    border-radius: 20px;
    width: 10rem;
    height: 40px;
    border: 1px solid #fff;
    position: relative;
    text-align: right;
    padding-top: 5px;
    padding-right: 5%;
}

.connect-div p{
    font-size: 1.3rem;
}

/* .bsc-div{
    position: absolute;
    border-radius: 20px;
    border: 1px solid #fff;
    height: 40px;
    width: 5rem;
    background-color: #fff;
    text-align: center;
    padding-top: 5px;
    top: 0;
    left: -25%;
}

.bsc-div p{
    color: #4B0057;
    font-weight: 700;
    font-size: 1.5rem;
}

.breadcrumbs-img{
    width: 20%;
} */

.connect-breadcrumbs-div{
    display: flex;
    gap: 30px;
    align-items: center;
}

.menubar {
    width:40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: none; 
}

.bar{
    width:100%;
    height: 3px;
    margin-top: 5px;
    background-color: #3A0044;
    border-radius: 5px;
}

.bar1{
    width: 70%;
}

.bar2{
    width: 100%;
}

.bar3{
    width: 50%;
}

.header-2 .bar{
    background: #fff;
}


@media screen and (max-width: 800px) {
    header{
        width: 100%;
        padding: 5%;
    }

    .menubar{
        display: block;
        position: absolute;
        right: 4%;
        top: 4%;
        padding-top: 20px;
    }

    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar .nav-logo{
        align-self: flex-start;
    }

    .navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-links-div{
        flex-direction: column;
        gap: 30px;
    }

    .nav-links-div ul li{
        margin-left: 0;
        margin: 1.5rem auto 0;
    }

    .nav-logo img{
        width: 38%;
    }
    
    .nav-logo h3{
        font-size: 1.5rem;
    }

    .connect-div{
        width: 8rem;
        padding-top: 9px;
        padding-right: 7%;
        margin-top: 2rem;
    }
    
    .connect-div p{
        font-size: 1rem;
    }
    
    .bsc-div{
        width: 4rem;
        background-color: #fff;
        text-align: center;
        padding-top: 7px;
    }
    
    .bsc-div p{
        font-size: 1.2rem;
    }

    .connect-breadcrumbs-div{
        flex-direction: column;
    }

    .breadcrumbs-img{
       display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .breadcrumbs-img{
        display: none;
     }

     .connect-div{
        padding-right: 9%;
     }
}

