.about-us{
    padding: 5%;
    color: #961581;
}

.about-us h3{
    font-size: 2rem;
    margin-bottom: 5rem;
}

.about-us h3::after{
    content: "";
    display: block;
    padding-top: 20px;
    width: 8%;
    border-bottom: 5px solid #FF9900;
}

.about-us-content img{
    width: 30%;
}

.about-us-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-us-content span{
    color: #FBE200;
}

.about-us-content h4{
    font-size: 2rem;
}

.about-us-content p{
    font-size: 1.1rem;
    margin: 2rem 0
}

/******************************************* Responsive Styling ***********************************************/
@media screen and (max-width: 767px) {
    .about-us{
        padding: 5% 4%;
    }

    .about-us h3{
        font-size: 1.8rem;
    }

    .about-us h3::after{
        width: 20%;
    }

    .about-us-content img{
        width: 60%;
    }

    .about-us-content{
        flex-direction: column;
    }

    .about-us-content h4{
        font-size: 1.5rem;
    }
    
    .about-us-content p{
        font-size: 1rem;
        margin: 2rem 0
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .about-us-content{
        flex-direction: column;
    }
}