.defi-for-everyone{
    padding: 5%;
    color: #fff;
    position: relative;
}

.defi-for-everyone h3{
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.defi-for-everyone .decentralised{
    position: absolute;
    top: 27%;
    right: 5%;
    font-size: 1.2rem;
}

.defi-for-everyone h3::after{
    content: "";
    display: block;
    width: 20%;
    padding-top: 20px;
    border-bottom: 5px solid #FF9900;
}

.decentralised-line{
    position: absolute;
    right: 22.5%;
    top: 29.5%;
    background: #fff;
    width: 5%;
    height: 1px;
}

.defi-for-everyone span{
    font-weight: 700;
}

.defi-for-everyone-content{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin-top: 3rem;
}

.defi-for-everyone-content img{
    width: 25%;
}

.defi-for-everyone-content p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.defi-for-everyone-content ul{
    padding-left: 2rem;
}

.defi-for-everyone-content ul li{
    font-size: 1.1rem;
    margin-bottom: 1.8rem;
}


/******************************************* Responsive Styling ***********************************************/
@media screen and (max-width: 767px) {
    .defi-for-everyone{
        padding: 5% 4%;
    }
    
    .defi-for-everyone h3{
        font-size: 2.5rem;
    }
    
    .defi-for-everyone-content{
        flex-direction: column;
    }
    
    .defi-for-everyone-content img{
        width: 50%;
    }
    
    .defi-for-everyone-content p{
        font-size: 1rem;
    }
    
    .defi-for-everyone-content ul li{
        font-size: 1rem;
    }

    .defi-for-everyone .decentralised{
        position: absolute;
        top: 15%;
        right: 4%;
        font-size: 0.8rem;
    }

    .decentralised-line{
        position: absolute;
        right: 42%;
        top: 16%;
        background: #fff;
        width: 5%;
        height: 1px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .defi-for-everyone-content{
        flex-direction: column;
    }

    .defi-for-everyone .decentralised{
        position: absolute;
        top: 18%;
        right: 4%;
        font-size: 1rem;
    }

    .decentralised-line{
        right: 29%;
        top: 19.5%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .decentralised-line{
        right: 29%;
    }
}