.pools-card{
    width: 20rem;
    height: 23rem;
    background: #140517;
    border-radius: 37px;
    padding: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

.pools-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.pools-card-header h3{
    color: #FFD601;
    font-size: 1.5rem;
    font-weight: 700;
}

.pools-card-header>div{
    position: relative;
    height: 5rem;
    text-align: right;
}

.pools-card-header>div>img:first-child{
    width: 80%;
}

.pools-card-header>div>img:last-child{
    width: 35%;
    position: absolute;
    top: 0;
}

.just-pools-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.just-pools-card-header h3{
    color: #FFD601;
    font-size: 1.5rem;
    font-weight: 700;
}

.just-pools-card-header>div{
    position: relative;
    height: 5rem;
    text-align: right;
}

.just-pools-card-header>div>img{
    width: 80%;
}

.pools-multiplier-apr{
    background: #6CBA74;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 2%;
    border-radius: 36px;
    margin-bottom: 1rem;
}

.pools-multiplier-apr>div>p:first-child{
    font-size: 1.3rem;
    font-weight: 700;
}

.pools-multiplier-apr>div>p:last-child{
    font-size: 0.8rem;
}

.earned-tokens, .liquidity-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.earned-tokens>div h6, .liquidity-amount>h6{
    font-size: 1rem;
    color: #FFD601;
}

.earned-tokens>p, .liquidity-amount>p{
    color: #9E9149;
    font-weight: 300;
}

.time-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.stake-type{
    position: absolute;
}

.stake-type p{
    width: 100%;
    height: 1.5rem;
    background: #FFD601;
    color: #4B0057;
    font-size: 0.9rem;
    font-weight: 700;
}

/*****************************************/
/*** Responsive Design *******************/
@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
}