
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
  }

.timeless-staking .modal-content{
    background: #2C0630;
    width: 28%;
    height: 30rem;
    border-radius: 41px;
    padding: 2rem ;
}

.timeless-staking .modal-header{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.timeless-staking .modal-body{
    text-align: center;
}

.timeless-staking .modal-body form{
    margin-top: 2rem;
}

.timeless-staking .modal-body form>div{
    margin-bottom: 2rem;
}

.timeless-staking .modal-body form>div input{
    background: #F1F1F1;
    border-radius: 18px;
    border: none;
    width: 60%;
    height: 2.5rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.timeless-staking .modal-body form>div input::placeholder{
    color: #D2D2D2;
    font-size: 0.8rem;
    font-family: Poppins;
}

.timeless-staking .modal-footer{
    text-align: center;
    margin-top: 5rem;
}

.timeless-staking .modal-footer button{
    background: #6CBA74;
    border-radius: 35.5px;
    width: 80%;
    height: 2.7rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: Poppins;
}



/*****************************************/
/*** Responsive Design *******************/
@media screen and (max-width: 767px) {
    .timeless-staking .modal-content{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .timeless-staking .modal-content{
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .timeless-staking .modal-content{
        width: 70%;
    }
}