.features{
    padding: 5%;
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(255, 255, 255, 0.99) 17.71%);
}

.features h3{
    font-size: 2rem;
    margin-bottom: 5rem;
    color: #961581;
}

.features h3::after{
    content: "";
    display: block;
    padding-top: 20px;
    width: 8%;
    border-bottom: 5px solid #FF9900;
}

.features-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    margin-top: 9rem;
}

.features-btn{
    margin-top: 5rem;
    text-align: center;
}

/******************************************* Responsive Styling ***********************************************/
@media screen and (max-width: 767px) {
    .features{
        padding: 15% 4%;
    }

    .features h3{
        font-size: 1.8rem;
    }

    .features h3::after{
        width: 20%;
    }

    .features-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .features-content{
        gap: 50px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .features-content{
        flex-wrap: wrap;
        gap: 90px;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .features-content{
        gap: 90px;
    }
}